
h1{
	color: green;
}

form{
	border: black double;
	width: 45em;
	overflow: auto;
	padding: 10px;
	background: tan;
}
input[type="submit"]{
	text-align: right;
	background-color: blue;
	color:white;
	font-size: 1.25em;
	padding-top: 5px;
	float:right;
}
input[type="radio"]{
	margin:10px;
}
form p{clear: left;
		}